.about-perspective {
  perspective: 1000px;
}

.about-card {
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  position: relative;
}

.about-card.flipped {
  transform: rotateY(180deg);
}

.about-front,
.about-back {
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
  top: 0;
  left: 0;
}

.about-front {
  z-index: 2;
}

.about-back {
  transform: rotateY(180deg);
}
